
//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;

//Color
$text: #121053;
$heading-text: #374a5e;
$border: #e0e0e0;
$light: #f7f9fb;
$light-2: #f8faff;
$light-3: #e5e9f2;
$light-4: #bbbbbb;

$white: #fff;
$black: #000;
$dark: #222736;


$primary: #212F52;
$secondary: #158df7;
$alpha: #606cc4;
$beta: #f7f9ff;
$gamma: #544fff;
$delta:#1BC5BD;
$epsilon: #F64E60;
$zeta: #ff9f43;
$eta: #09c2de;
$theta: #fbf6fd;
$lota: #c2f0ff;
$kappa: #ebf1ff;
$lambda: #ff9f43;

//Background
$bg-1: #f9f9f9;

//Extended Colors
$color-1: #dfe3ff;
$color-2: #f4f3fe;
$color-3: #f3f6f9;
$color-4: #818181;
$color-5: #f5fafd;
$color-6: #ff7296;
$color-7: #ffa0bf;
$color-8: #930227;
$color-9: #ff7160;
$color-10: #b983ff;
$color-11: #d8adff;
$color-12: #59c795;
$color-13: #88e2c0;
$color-14: #f48057;
$color-15: #ffb82c;
$color-16: #F1F5F8;
$color-17: #1e1e2d;

// Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;
$be: #1769ff;