.mx-author-menu {
    border-radius: 0 0 5px 5px;
    background: darken($primary, 5%);
    &.mx-author-menu--dark {
        background: $dark;
        .mx-author-menu__link {
            &:hover {
                background: darken($dark, 5%);
            }
        }
    }
    &__list {
        &:first-child {
            padding-top: 10px;
        }
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 10px;
        }
    }
    &__link {
        display: block;
        padding: 8px 15px;
        color: $white;
        transition: all .3s ease;
        &:hover {
            color: $white;
            background: $primary;
        }
    }
}