#chart-9 {
    .apexcharts-legend.position-bottom .apexcharts-legend-series, .apexcharts-legend.position-top .apexcharts-legend-series {
        align-items: self-start;
    }
}
#chart-38 {
    width: 100%;
    height: 300px;
}
#chart-43 {
    width: 100%;
    height: 300px;
}