.mx-ribbon-card {
    position: relative;
    border: 1px solid $border;
    &__ribbon {
        padding: 3px 15px;
        position: absolute;
        &--vertical {
            padding: 5px !important;
            height: 80px;
            display: flex;
        }
        &-top-0 {
            top: 0;
        }
        &-top-30 {
            top: 30px;
        }
        &-left-0 {
            left: 0;
        }
        &-left--6 {
            left: -6px;
        }
        &-right-0 {
            right: 0;
        }
        &-text {
            display: inline-block;
            font-size: 14px;
            line-height: 1;
            color: $white;
        }
        &-arrow {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 100%;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
            }
            &.t-bg-epsilon {
                &::after {
                    border-left: 15px solid $epsilon;
                }
            }
            &.t-bg-gamma {
                &::after {
                    border-left: 15px solid $gamma;
                }
            }
            &.t-bg-lambda {
                &::after {
                    border-left: 15px solid $lambda;
                }
            }
            &.t-bg-delta {
                &::after {
                    border-left: 15px solid $delta;
                }
            }
        }
        &--fold {
            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                border-bottom: 3px solid transparent;
                border-left: 3px solid transparent;
            }
            &.t-bg-epsilon {
                &::before {
                    border-top: 3px solid darken($epsilon, 10%);
                    border-right: 3px solid darken($epsilon, 10%);
                }
            }
            &.t-bg-gamma {
                &::before {
                    border-top: 3px solid darken($gamma, 10%);
                    border-right: 3px solid darken($gamma, 10%);
                }
            }
            &.t-bg-lambda {
                &::before {
                    border-top: 3px solid darken($lambda, 10%);
                    border-right: 3px solid darken($lambda, 10%);
                }
            }
            &.t-bg-delta {
                &::before {
                    border-top: 3px solid darken($delta, 10%);
                    border-right: 3px solid darken($delta, 10%);
                }
            }
        }
    }
}
