.mx-sidenav-toggle {
    padding-top: 12px;
    padding-bottom: 12px;
    &:hover {
        .mx-sidenav-toggle__icon {
            transform: rotate(45deg);
            &::before {
                opacity: 0;
            }
            &::after {
                transform: rotate(-90deg) translate(8px);
            }
        }
    }
    &.active {
        &:hover {
            .mx-sidenav-toggle__icon {
                transform: rotate(0) !important;
                &::before {
                    opacity: 1 !important;
                    min-width: 15px;
                }
                &::after {
                    transform: rotate(0) translate(0) !important;
                    min-width: 20px;
                }
            }
        }
    }
    &__icon {
        display: block;
        position: relative;
        width: 30px;
        height: 2px;
        background: $white;
        transition: all .3s ease;
        &::before {
            content: "";
            min-width: 30px;
            height: 2px;
            background: $white;
            position: absolute;
            bottom: 8px;
            left: 0;
            transition: all .3s ease;
        }
        &::after {
            content: "";
            min-width: 30px;
            height: 2px;
            background: $white;
            position: absolute;
            top: 8px;            
            left: 0;
            transition: all .3s ease;
        }
    }
}
