.mx-utility {
    &--b1 {
        background: $blue;
    }
    &--b2 {
        background: $blue-100;
    }
    &--b3 {
        background: $blue-200;
    }
    &--b4 {
        background: $blue-300;
    }
    &--b5 {
        background: $blue-400;
    }
    &--b6 {
        background: $blue-500;
    }
    &--b7 {
        background: $blue-600;
    }
    &--b8 {
        background: $blue-700;
    }
    &--b9 {
        background: $blue-800;
    }
    &--b10 {
        background: $blue-900;
    }
    &--i1 {
        background: $indigo;
    }
    &--i2 {
        background: $indigo-100;
    }
    &--i3 {
        background: $indigo-200;
    }
    &--i4 {
        background: $indigo-300;
    }
    &--i5 {
        background: $indigo-400;
    }
    &--i6 {
        background: $indigo-500;
    }
    &--i7 {
        background: $indigo-600;
    }
    &--i8 {
        background: $indigo-700;
    }
    &--i9 {
        background: $indigo-800;
    }
    &--i10 {
        background: $indigo-900;
    }
    &--p1 {
        background: $purple;
    }
    &--p2 {
        background: $purple-100;
    }
    &--p3 {
        background: $purple-200;
    }
    &--p4 {
        background: $purple-300;
    }
    &--p5 {
        background: $purple-400;
    }
    &--p6 {
        background: $purple-500;
    }
    &--p7 {
        background: $purple-600;
    }
    &--p8 {
        background: $purple-700;
    }
    &--p9 {
        background: $purple-800;
    }
    &--p10 {
        background: $purple-900;
    }
    &--pk1 {
        background: $pink;
    }
    &--pk2 {
        background: $pink-100;
    }
    &--pk3 {
        background: $pink-200;
    }
    &--pk4 {
        background: $pink-300;
    }
    &--pk5 {
        background: $pink-400;
    }
    &--pk6 {
        background: $pink-500;
    }
    &--pk7 {
        background: $pink-600;
    }
    &--pk8 {
        background: $pink-700;
    }
    &--pk9 {
        background: $pink-800;
    }
    &--pk10 {
        background: $pink-900;
    }
    &--r1 {
        background: $red;
    }
    &--r2 {
        background: $red-100;
    }
    &--r3 {
        background: $red-200;
    }
    &--r4 {
        background: $red-300;
    }
    &--r5 {
        background: $red-400;
    }
    &--r6 {
        background: $red-500;
    }
    &--r7 {
        background: $red-600;
    }
    &--r8 {
        background: $red-700;
    }
    &--r9 {
        background: $red-800;
    }
    &--r10 {
        background: $red-900;
    }
}